<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
	    <hgati_someone_recently_bought>
            <general>
                <enabled>1</enabled>
                <fakeinfo>1</fakeinfo>
                <product_ids>26238,26236,26193,26186,26174,26176,26130,26191,26104,26101</product_ids>
                <faketime>a few minutes ago, 5 minutes ago, 25 minutes ago, 4 hours ago, 7 hours ago, 9 hours ago, 11 hours ago</faketime>
                <fakeaddress>Dallas - United States, Los Angeles - United States, Pittsburgh - United States, Denver - United States, Oakland - United States, City:  Sevgein - Switzerland, Lausanne -Switzerland, Sion - Switzerland, Kuala Lumpur - Malaysia, Kulai - Malaysia, Maastricht - Netherlands, Tilburg - Netherlands, Sevenum - Netherlands, HØnefoss - Norway, KolsÅ - Norway, Hanoi - VN, Ottawa - Canada, Ugglebarnby - United Kingdom, Aprilville - New Zealand, Los Verdugo - Spain, Friedrichsdorf - Germany, Sainte-marie - France, Umbai - Malaysia, Sydney - Australia, Amsterdam - Netherlands</fakeaddress>
                <fakecron>0</fakecron>
                <limit>10</limit>
                <autoplay>1</autoplay>
                <firsttime>3000</firsttime>
                <speed>9000</speed>
            </general>
        </hgati_someone_recently_bought>
	</default>
</config>
